.Rproj.user
.idea
.settings
/example/*.log
/example/out/
target
bin
chr12.*
hg19.*
hg38.*
BL21DE3_Genome.*
C43DE3_Genome.*
Escherichia_coli_bl21_de3_.ASM956v1.*
/scripts/dev/gridss2_manuscript/data
/scripts/dev/gridss2_manuscript/figures
/scripts/gridss2_manuscript/protecteddata
/scripts/gridss2_manuscript/publicdata
/src/main/c/htslib
